
.bg-custom{
    background-color: aqua;
}

.logo-img{
    height: 40px;
    width: 100%;
}

.nav-text{
    color: wheat;
    text-decoration: none;
    font-size: 20px;
}

.nav-li{
    margin-top: 7px;
}
